@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.background {
  background-image: url("../public/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cloud-animation {
  animation: cloudTranslate 4s ease-in-out infinite;
}
@keyframes cloudTranslate {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.5rem);
  }
}
.server-animation {
  animation: serverTranslate 5s ease-in-out infinite;
}
@keyframes serverTranslate {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.4rem);
  }
}

.no-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}